<form>
  <div class="row justify-content-center">
    {{#each this.fields as |field|}}
      <label class="hide" for={{field.position}}>{{field.position}}</label>
      <Input
        class="single-character-field"
        data-position={{field.position}}
        id={{field.position}}
        @value={{field.value}}
        {{on "keydown" this.handleKeyDown}}
      />
    {{/each}}
  </div>
</form>
