<div class="row justify-content-center">
  {{#each this.fields as |position|}}
    <label class="hide" for={{position}}>{{position}}</label>
    <Input
      class="single-character-field"
      data-position={{position}}
      id={{position}}
      {{on "keydown" this.moveCursor}}
    />
  {{/each}}
</div>
