{{yield}}
<div class="employment">
  <Employment::Image
    {{!-- src={{@employment.imageSource}} --}}
    src="https://media1.popsugar-assets.com/files/thumbor/fP1ssP2FBASLssl67umKKTQWPOU/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2018/03/12/635/n/24155406/tmp_Mg4ylG_0cae29c5d0e422dd_7259691694_fb6b9b4ed0_o.jpg"
    alt={{@employment.job_title}}
  />
  <div class="details">
    <div class="info">
      <h3>{{@employment.job_title}} at {{@employment.employer_name}}</h3>
      <div class="detail date-range">
        <span>Worked here from:</span> {{@employment.start_date}} - {{@employment.end_date}}
      </div>
      <div class="detail pay-range">
        <span>Pay range:</span> ${{@employment.starting_pay}} - ${{@employment.ending_pay}}
      </div>
      {{#if this.isExpanded}}
        <div class="detail location">
          <span>Location:</span>
          <span>
            {{@employment.location.address}},
          </span>
          <span>
            {{@employment.location.city}}, {{@employment.location.state}}, {{@employment.location.zipcode}}
          </span>
        </div>
        <div class="detail career">
          <span>Part of my career in:</span> {{@employment.career_title}}
        </div>
      {{/if}}
    </div>
    <div class="show-more-button">
      <button class="button" {{on "click" this.expand}}>Show {{#if this.isExpanded}}less{{else}}more{{/if}}</button>
    </div>
  </div>
</div>
